[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.3.0"
Flask-RESTful = "==0.3.4"
Flask = "==0.10.1"
Pillow = "==3.0.0"

[dev-packages]

[requires]
python_version = "3.6"
